{% load static %}
<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>SJB | User Dashboard</title>
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <header class="container topbar">
    <a class="brand" href="{% url 'index' %}">
      <img src="{% static 'logo1.png' %}" alt="SJB Logo">
      <div>
        <div class="title">SJB</div>
        <div class="subtitle" data-i18n="brandSubtitle">Unlock Your Potential</div>
      </div>
    </a>

    <nav class="nav">
      <a href="{% url 'home' %}" data-i18n="navHome">Home</a>
      <a href="{% url 'jobs' %}" data-i18n="navJobs">Jobs</a>
      {% if user.is_authenticated %}
        {% if user.role == 'student' %}
          <a href="{% url 'dashboard-user' %}" class="active" id="navDash" data-i18n="navDash">Dashboard</a>
        {% elif user.role == 'company' %}
          <a href="{% url 'dashboard-company' %}" id="navDash" data-i18n="navDash">Dashboard</a>
        {% elif user.role == 'admin' %}
          <a href="{% url 'dashboard-admin' %}" id="navDash" data-i18n="navDash">Dashboard</a>
        {% endif %}
        <a href="{% url 'logout' %}" id="navLogin" data-i18n="logout">Logout</a>
      {% else %}
        <a href="{% url 'auth' %}" id="navLogin" data-i18n="navLogin">Login</a>
        <a href="{% url 'signup' %}" id="navReg" data-i18n="SignUp">Register</a>
      {% endif %}
    </nav>

  <div class="actions">
    <button class="lang" id="langBtn">AR</button>
    <a class="btn outline" href="{% url 'profile' %}">Profile</a>
    <button class="btn outline" onclick="logout()" data-i18n="logout">Logout</button>
  </div>
</header>

  <main class="container">
    <div class="hero">
      <h1 data-i18n="userDashTitle">My Applications</h1>
      <div class="small" style="margin-top:6px" data-i18n="userDashDesc">
        Track all jobs you applied for in one place.
      </div>
      <div class="decor"><span></span><i></i><i></i><span></span></div>
    </div>

    <!-- rendered by app.js -->
    <div id="userAppsTable"></div>
  </main>

  <footer class="footer">
    <div class="container" data-i18n="footerText">© 2026 Student Job Board. All rights reserved.</div>
  </footer>

  <script src="{% static 'i18n.js' %}"></script>
  <script src="{% static 'data.js' %}"></script>
  <script src="{% static 'app.js' %}"></script>
</body>
</html>
